:root {
    /*رنگ اصلی*/
    --primary: #CCCCCC;
    --primary-hover: #075CD9;
    --on-primary: #FFFFFF;

    /*رنگ زمینه و سطح*/
    --background: #FFFFFF;
    --on-background: #191C1E;
    --surface: #FFFFFF;
    --border: #E9E9E9;
    --muted: #727272;

    /*رنگ‌های خنثی*/
    --neutral-50: #FFFFFF; /*روشن‌ترین (سفید)*/
    --neutral-100: #FEFEFE;
    --neutral-200: #F5F6F8;
    --neutral-300: #E1E0E5;
    --neutral-400: #E1E0E5;
    --neutral-500: #C8C7CB; /*وسط*/
    --neutral-600: #AFAEB2;
    --neutral-700: #7D7D7F;
    --neutral-800: #646466;
    --neutral-900: #323233;
    --neutral-950: #000000; /*تیره‌ترین (مشکی)*/

    --Errors: #E63946;
    --Success: #90F677;

    /*رنگ اولویت‌ها*/
    --priority-high: #FF5F37;
    --priority-medium: #FFAF37;
    --priority-low: #11A483;
    --priority-high-bg: #FFE2DB;
    --priority-medium-bg: #FFEFD6;
    --priority-low-bg: #C3FFF1;

    /*کنترل‌ها*/
    --dash-line: #AFAEB2;
    --checkbox-border: #CCCCCC;
    --checkbox-bg: #FFFFFF;
    --checkbox-check: #FFFFFF;
    --btn-secondary: #E5E5E5;
    --btn-secondary-hover: #D4D4D4;
    --icon: #5C5F61;

    /*حالت خالی*/
    --empty-title: #7D7D7F;
    --empty-text: #AFAEB2;
}

.dark {
    /*رنگ اصلی*/
    --primary: #3A86F8;
    --primary-hover: #6BA4FA;
    --on-primary: #FFFFFF;

    /*رنگ زمینه و سطح*/
    --background: #060C18;
    --on-background: #E6E9EF;
    --surface: #091120;
    --border: #3D3D3D;
    --muted: #848890;

    /*رنگ‌های خنثی*/
    --neutral-950: #FFFFFF;

    /*رنگ اولویت‌ها*/
    --priority-high: #FF5F37;
    --priority-medium: #FFAF37;
    --priority-low: #02E1A2;
    --priority-high-bg: #3D2327;
    --priority-medium-bg: #302F2D;
    --priority-low-bg: #233332;

    /*کنترل‌ها*/
    --dash-line: #203E62;
    --checkbox-border: #CCCCCC;
    --checkbox-bg: #007BFF;
    --checkbox-check: #091120;
    --btn-secondary: #E5E5E5;
    --btn-secondary-hover: #D4D4D4;
    --icon: #FFFFFF;

    /*حالت خالی*/
    --empty-title: #848890;
    --empty-text: #52555B;
}
